.nav .navmobile .cross{
  position: absolute;
  color: white;
  top: 10px;
  font-size: 20px;
  right: 0px;
  cursor: pointer;
  padding: 1rem;
}
.nav .navmobile{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
 width: 30%;
  height: 100vh;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #000000b7;
  
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%); /* hidden initially */
}

 .nav .navmobile.open{
transform: translateX(0);
}

.nav .mobilenav {
  padding: 80px 0px 0px 20px;
  line-height: 50px;
  
}
.nav .mobilenav li a {

  color: white;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
}


.nav .mobilenav li a:hover {
  color: #bf8f00;
}

.nav .mobilenav li  .active{
 
  color: #bf8f00;
  border-bottom: 1px solid  #bf8f00;

 padding-bottom: 4px;

}


@media only screen and (max-width: 802px) {
  .nav .navmobile{
   
    width: 40%;

  }
 
}

@media only screen and (max-width: 548px) {
  .nav .navmobile{
   
    width: 60%;

  }
  .nav .mobilenav li a {

 
  font-size: 18px;
  
}
 
}
